name: Package publication

on:
  push:
    tags:
      - "v*" # Trigger on tags starting with 'v'

env:
  nuget_directory: ${{ github.workspace}}/artifacts

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build and pack
    permissions:
      contents: write
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Extract Version from tag
        run: |
          TAG_VERSION=$(echo "${{ github.ref }}" | sed 's/refs\/tags\/v//')
          echo "PROJECT_VERSION=$TAG_VERSION" >> $GITHUB_ENV # Output the version to the environment
        shell: bash

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            6.x
            8.x
      - name: Build
        run: dotnet build -c Release -p:Version=${{ env.PROJECT_VERSION }}
      - name: Pack
        run: dotnet pack -c Release -p:Version=${{ env.PROJECT_VERSION }} -o ${{ env.nuget_directory }}
        shell: bash
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: nuget_packages
          path: ${{ env.nuget_directory }}/*.nupkg
          if-no-files-found: error
  publish:
    runs-on: ubuntu-latest
    name: Publish packages
    needs: [build]
    steps:   
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v4
      - uses: actions/download-artifact@v4
        with:
          name: nuget_packages
          path: ${{ env.nuget_directory }}
      - name: Display package files
        run: ls -R ${{ env.nuget_directory }}
      - name: Publish all packages to NuGet
        run: dotnet nuget push ${{ env.nuget_directory }}/*.nupkg --api-key "${{ secrets.NUGET_API_KEY }}" --source https://api.nuget.org/v3/index.json --skip-duplicate
